* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  position: relative;
  z-index: 1; /* kasih konteks utama */
  background: #f7f1de !important;
}

.homenaje-regular {
  font-family: "Homenaje", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.dashboard-header {
  width: 100%;
  height: 22%;
  overflow-x: hidden;
  color: #fff;
  font-family: "Homenaje", sans-serif;
}
.dashboard-header .container-header {
  position: relative;
  padding: 15px 50px;
  max-height: 60%;
  display: flex;
  z-index: 12;
  justify-content: space-between;
  align-items: center;
  background: #c1785a;
  box-shadow: 0 6px 9.2px 2px rgba(0, 0, 0, 0.25);
}
.dashboard-header .container-header .page-title {
  height: 100%;
  display: flex;
  align-items: center;
}
.dashboard-header .container-header .page-title h1 {
  margin: 0;
  font-size: 2.5rem;
}
.dashboard-header .container-header .hero-logo {
  height: 100%;
}
.dashboard-header .container-header .hero-logo .hero-logo-icons {
  height: 50px;
  fill: #f7f1de;
}
.dashboard-header .container-header .admin-greet {
  height: 100%;
  display: flex;
  align-items: center;
  width: 15%;
}
.dashboard-header .container-header .admin-greet a {
  text-align: right;
  width: 100%;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0;
}
.dashboard-header .navbar-tabs {
  position: relative;
  z-index: 11;
  width: 100%;
  padding: 0 50px;
  display: flex;
  justify-content: start;
  gap: 20px;
}
.dashboard-header .navbar-tabs a {
  text-decoration: none;
  color: #fff;
}
.dashboard-header .navbar-tabs .navbar-tab {
  margin-top: -15px;
  width: 180px;
  height: 65px;
  display: flex;
  padding: 30px 10px 10px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 20px 20px;
  background: #a8bba3;
  box-shadow: 0 5px 6.4px 0 rgba(0, 0, 0, 0.25);
  list-style-type: none;
  font-size: 1.5rem;
  transition: 0.3s all ease;
}
.dashboard-header .navbar-tabs .navbar-tab span {
  font-size: 2rem;
  padding-right: 10px;
}
.dashboard-header .navbar-tabs .navbar-tab:hover {
  margin-top: -8px;
  background-color: #a8bba3;
}
.dashboard-header .navbar-tabs .navbar-tab:active {
  margin-top: 0px;
  box-shadow: none;
}

.form-contents-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-contents-wrapper .form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 50%;
}
.form-contents-wrapper .form-wrapper .login-header {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}
.form-contents-wrapper .form-wrapper .login-header.regis {
  margin-bottom: 20px;
}
.form-contents-wrapper .form-wrapper .login-header .logo-form {
  width: 40%;
  height: auto;
  fill: #c1785a;
}
.form-contents-wrapper .form-wrapper .login-header .logo-form.register {
  width: 20%;
  height: auto;
}
.form-contents-wrapper .form-wrapper .form-title {
  border-radius: 10px;
  width: 100%;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-contents-wrapper .form-wrapper .form-title.login {
  background: #305669;
}
.form-contents-wrapper .form-wrapper .form-title.register {
  background: #8abeb9;
}
.form-contents-wrapper .form-wrapper .form-title.register h1 {
  font-size: 1.4rem;
}
.form-contents-wrapper .form-wrapper .form-title h1 {
  font-family: "homenaje";
  color: #fff;
  text-align: center;
  font-size: 2rem;
  margin: 0;
}
.form-contents-wrapper .form-wrapper .form-main-container {
  margin-top: 15px;
  padding: 30px;
  border-radius: 16px;
  background: #fff;
}
.form-contents-wrapper .form-wrapper .form-main-container .form-label {
  font-family: "homenaje";
  font-size: 1.5rem;
}
.form-contents-wrapper .form-wrapper .form-main-container .form-label.regis {
  font-size: 1.3rem;
  margin-bottom: 2px;
}
.form-contents-wrapper .form-wrapper .form-main-container input {
  font-family: "segoe ui";
}
.form-contents-wrapper .form-wrapper .form-main-container input::-moz-placeholder {
  font-family: "segoe ui";
  color: rgba(48, 86, 105, 0.4235294118);
}
.form-contents-wrapper .form-wrapper .form-main-container input::placeholder {
  font-family: "segoe ui";
  color: rgba(48, 86, 105, 0.4235294118);
}
.form-contents-wrapper .form-wrapper .form-main-container .button-container {
  width: 20%;
  gap: 10px;
}
.form-contents-wrapper .form-wrapper .form-main-container .button-container a {
  font-family: "segoe ui";
  color: #c1785a;
  text-decoration: none;
}
.form-contents-wrapper .form-wrapper .form-main-container .button-container .btn-submit {
  font-size: 1.3rem;
  font-family: "homenaje";
}
.form-contents-wrapper .form-wrapper .form-main-container .name-birth-container {
  width: 100%;
}
.form-contents-wrapper .form-wrapper .form-main-container .name-birth-container .full-name-regis {
  width: 60%;
}
.form-contents-wrapper .form-wrapper .form-main-container .name-birth-container .birth-datepicker-regis {
  width: 30%;
}/*# sourceMappingURL=styles.css.map */