/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Homenaje&display=swap");

/* Variabel Warna */
:root {
  --ca-primary: #c1785a;
  --ca-secondary: #f7f1de;
  --ca-muted: #84994f;
  --ca-accent: #fcb53b;
  --ca-warm: #c1785a;
  --ca-red: #a72703;
}

/* Global */
body {
  margin: 0;
  padding: 0;
  background-color: var(--ca-secondary);
  font-family: "Segoe UI", sans-serif;
  color: #4a667c;
}

/* Navbar */
.navbar-ca {
  background-color: var(--ca-primary);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 12px 0;
  position: relative;
  z-index: 999;
}

.brand-title {
  font-family: "Homenaje", serif;
  font-size: 50px;
  color: #fff;
}

.profile-circle {
  position: absolute;
  margin-top: 20px;
  right: 40px;
  top: 10px;
  width: 42px;
  height: 42px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

/* Dashboard Floating Buttons */
.floating-buttons {
  position: absolute;
  top: 95px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 15px;
  z-index: 977;
}

.floating-buttons button {
  background-color: #a8bba3;
  font-family: "Homenaje";
  font-size: 28px;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 0 0 20px 20px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.floating-buttons button:hover {
  transform: translateY(5px);
}

.material-symbols-outlined {
  font-size: 30px;
}

/* Map (temporary)*/
#map {
  height: 100vh;
  width: 100%;
}

/* Catalogue Page */
.page-container {
  padding: 10px 120px;
  gap: 30px;
}

/* Header Section */
.catalog-header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
  margin-top: -20px;
  position: relative;
  z-index: 10;
}

.catalog-btn {
  background-color: #a8bba3;
  font-family: "Homenaje";
  font-size: 28px;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 0 0 20px 20px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  transition: 0.2s;
  margin-left: 115px;
  margin-top: -10px;
  z-index: 977;
  
}

.catalog-btn:hover {
  transform: translateY(5px);
}

/* Search Bar */
.search-bar {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  margin-top: 80px;
}

.search-bar span {
  background-color: #bf7654;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 50px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
}

.search-bar span:hover {
  background-color: #a65c42;
}

.search-bar input {
  width: 700px;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

/* Filter Buttons */
.filter-buttons {
  display: flex;
  gap: 10px;
}

.filter-buttons button {
  background-color: var(--ca-primary);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-size: 20px;
  font-family: "Homenaje";
  transition: 0.2s;
  margin-top: 80px;
}

.filter-buttons button:hover {
  background-color: #a65c42;
}

/* Tag Filter */
.tags {
  display: flex;
  gap: 6px;
  margin-bottom: 20px;
}

.tag {
  padding: 6px 15px;
  border-radius: 6px;
  color: white;
  font-size: 20px;
  font-family: "Caveat";
  display: flex;
  align-items: center;
  gap: 5px;
}

.green {
  background-color: #84994f;
}

.orange {
  background-color: #fcb53b;
}

.red {
  background-color: var(--ca-red);
}

/* Card Catalogue */
.cafe-card {
  width: 100%;
  background: #fff;
  border-radius: 14px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
}

.cafe-card img {
  width: 330px;
  height: 260px;
  border-radius: 10px;
  object-fit: cover;
}

.cafe-title .top-row {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  align-items: flex-start;
}

.cafe-title .price {
  margin-left: 800px;
  font-family: "Caveat", cursive;
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
  text-align: right;
  min-width: 200px;
  margin-top: 0;
  padding-top: 0;
}

.title-row {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.title-row h2 {
  margin: 0;
  font-size: 48px;
  font-family: "Homenaje";
}

/* Location */
.cafe-location {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
  font-size: 20px;
  font-family: "Segoe UI", sans-serif;
}

/* Description */
.cafe-desc {
  margin-top: 10px;
  line-height: 1.5;
  font-size: 20px;
  font-family: "Segoe UI", sans-serif;
}

/* Carousel Card */
.carousel {
  width: 330px;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.carousel img {
  height: 260px;
  object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  padding: 15px;
}

.carousel-inner {
  width: 100%;
  height: 100%;
}

.carousel-item {
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease-in-out;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
