* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Poppins", sans-serif;
	height: 100vh;
	position: relative;
	z-index: 1; /* kasih konteks utama */
	background: #f7f1de !important;
}
.homenaje-regular {
	font-family: "Homenaje", sans-serif;
	font-weight: 200;
	font-style: normal;
}
header {
	width: 100%;
	height: 22%;
	overflow-x: hidden;
	color: #fff;
	font-family: "Homenaje", sans-serif;
	.container-header {
		position: relative;
		padding: 15px 50px;
		max-height: 60%;
		display: flex;
		z-index: 12;
		justify-content: space-between;
		align-items: center;
		background: #c1785a;
		box-shadow: 0 6px 9.2px 2px rgba(0, 0, 0, 0.25);
		.page-title {
			height: 100%;
			display: flex;
			align-items: center;
			h1 {
				margin: 0;
				font-size: 2.5rem;
			}
		}
		.hero-logo {
			height: 100%;
			.hero-logo-icons {
				height: 50px;
				fill: #f7f1de;
			}
		}
		.admin-greet {
			height: 100%;
			display: flex;
			align-items: center;
			p {
				font-size: 1.5rem;
				margin: 0;
			}
		}
	}
	.navbar-tabs {
		position: relative;
		z-index: 11;
		width: 100%;
		padding: 0 50px;
		display: flex;
		justify-content: start;
		gap: 20px;
		a {
			text-decoration: none;
			color: #fff;
		}
		.navbar-tab {
			margin-top: -15px;
			width: 180px;
			height: 65px;
			display: flex;
			padding: 30px 10px 10px 10px;
			justify-content: center;
			align-items: center;
			border-radius: 0 0 20px 20px;
			background: #a8bba3;
			box-shadow: 0 5px 6.4px 0 rgba(0, 0, 0, 0.25);
			list-style-type: none;
			font-size: 1.5rem;
			transition: 0.3s all ease;
			span {
				font-size: 2rem;
				padding-right: 10px;
			}
			&:hover {
				margin-top: -8px;
				background-color: #a8bba3;
			}
			&:active {
				margin-top: 0px;
				box-shadow: none;
			}
		}
	}
}
