$pal-rust: #c1785a; // Main Brand
$pal-olive: #84994f; // Productivity/Green
$pal-teal: #8abeb9; // Search/Info
$pal-yellow: #fcb53b; // Social/Accent
$pal-cream: #f7f1de; // Backgrounds
$pal-red: #a72703; // Danger
$pal-white: #ffffff;
$pal-grey-text: #6c757d; // Standard bootstrap grey

// --- Semantic Variabel
$c-primary: $pal-rust;
$c-secondary: $pal-olive;
$c-accent: $pal-yellow;
$c-social: $pal-yellow;
$c-info: $pal-teal;
$c-danger: $pal-red;
$c-white: #fff;
$c-black: #444;
$c-bg-card: $pal-cream;
$c-text-white: $pal-white;
$c-text-muted: $pal-grey-text;

// --- Fonts ---
$f-display: "Homenaje", sans-serif;
$f-sans: "Segoe UI", sans-serif;
$f-hand: "Caveat", cursive;

// --- CSS Variables buat JS barangkali
:root {
	--ca-primary: #{$c-primary};
	--ca-secondary: #{$c-secondary};
	--ca-bg-card: #{$c-bg-card};
	--ca-accent: #{$c-accent};
	--ca-red: #{$c-danger};
	--ca-black: #{$c-black};
}

%flex-center {
	display: flex;
	align-items: center;
}

%flex-center-col {
	@extend %flex-center;
	flex-direction: column;
}

%std-shadow {
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
	transition: 0.3s all ease;
}

%btn-floating-base {
	background-color: $c-secondary;
	font-family: $f-display;
	font-size: 28px;
	color: $c-text-white;
	border: none;
	padding: 10px 25px;
	border-radius: 0 0 20px 20px;
	@extend %flex-center;
	gap: 6px;
	cursor: pointer;
	transition: 0.2s;
	z-index: 977;

	&:hover {
		transform: translateY(5px);
		background-color: darken($c-secondary, 10%);
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "homenaje", "caveat", "segoe ui";
}

// ScrollBar Customize
::-webkit-scrollbar {
	width: 10px; // Lebar scrollbar vertikal
	height: 10px; // Tinggi scrollbar horizontal
}
// Track (Latar belakang scrollbar)
::-webkit-scrollbar-track {
	background: #f7f1dec0; // Warna cream (#f7f1de)
	border-radius: 5px;
}
// Thumb (Batang yang digeser)
::-webkit-scrollbar-thumb {
	background-color: $c-primary;
	border-radius: 10px;
	border: 2px solid #f7f1dec0;
	&:hover {
		background-color: darken($c-primary, 10%);
	}
}

html,
body {
	height: 100%;
	font-family: "Poppins", sans-serif;
	// height: 100vh;
	position: relative;
	z-index: 1; /* kasih konteks utama */
	background: #f7f1de !important;
}

.main-container {
	height: 100%;
	&.user {
		width: 100%;
		padding: 0px 15px;
	}
}
.homenaje-regular {
	font-family: "Homenaje", sans-serif;
	font-weight: 100;
	font-style: normal;
}

// Preloader Loading Map User
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999; // Karena aku gatau nanti indexnya apa aja isinya yaudah tak polll kan
	background-color: #f7f1de;

	display: flex;
	justify-content: center;
	align-items: center;

	// Transisi buat slide ke atas
	transition: transform 0.8s cubic-bezier(0.77, 0, 0.175, 1);

	// Kelas ini nanti ditambahin pake JS pas loading kelar
	&.loaded {
		transform: translateY(-100%);
	}

	.loader-content {
		text-align: center;
		color: $c-primary; // Warna Coklat Kopi

		.preloader-header {
			display: flex;
			justify-content: center;
			margin-bottom: 35px;
			&.regis {
				margin-bottom: 20px;
			}
			.logo-form {
				width: 70%;
				height: auto;
				fill: #c1785a;
				&.register {
					width: 30%;
					height: auto;
				}
			}
		}

		// Loading Title
		h2 {
			font-size: 1.5rem;
			letter-spacing: 2px;
			margin-bottom: 5px;
		}
		// Percent an Loading (yang angka)
		#load-percent {
			font-size: 1.5rem;
			font-weight: bold;
			color: $c-primary;
			margin-bottom: 15px;
		}

		// Container Bar (Wadah Abu/Transparan)
		.loading-bar-container {
			width: 200px; // Lebarin dikit
			height: 6px;
			background: rgba($c-primary, 0.2);
			border-radius: 10px;
			margin: 0 auto;
			position: relative;
			overflow: hidden;

			// Isian Bar
			.loading-bar-fill {
				height: 100%;
				width: 0%; // Mulai dari 0 kiri sendiri
				background: $c-primary;
				border-radius: 10px;
				transition: width 0.3s ease-out;
			}
		}
	}
}

// Alert Section
.alerta-container {
	display: flex;
	justify-content: center;
	width: 100%;
	.alert {
		padding: 15px 20px 10px 25px;
	}
	.alerta {
		margin-top: 10px;
		width: 80%;
		border-radius: 15px;
		z-index: 3;
		position: absolute;
	}
}
// Default Header Section
.dashboard-header {
	width: 100%;
	height: 150px;
	min-height: max-content;
	overflow-x: hidden;
	color: #fff;
	font-family: "Homenaje", sans-serif;
	// Default Header
	.container-header {
		width: 100%;
		position: fixed;
		padding: 15px 50px;
		display: flex;
		z-index: 12;
		justify-content: space-between;
		align-items: center;
		background: #c1785a;
		box-shadow: 0 6px 9.2px 2px rgba(0, 0, 0, 0.25);
		.page-title {
			height: 100%;
			display: flex;
			align-items: center;
			a {
				text-decoration: none;
				color: #fff;
			}
			h1 {
				margin: 0;
				font-size: 2.5rem;
			}
		}
		.hero-logo {
			height: 100%;
			.hero-logo-icons {
				height: 50px;
				fill: #f7f1de;
			}
		}
		// Admin Section
		.admin-greet,
		.user-greet {
			height: 100%;
			display: flex;
			align-items: center;
			width: 15%;
			a {
				line-height: 30px;
				text-align: right;
				width: 100%;
				color: #fff;
				text-decoration: none;
				font-size: 1.5rem;
				margin: 0;
			}
		}
		// Header Admin dan Header User
		.admin-greet,
		.container-header,
		.user-greet,
		.page-title-wrapper {
			// min-width: 9%;
			max-width: 170px;
		}
	}
}
// Default NavBar
.navbar-tabs {
	position: fixed;
	width: 100%;
	z-index: 11;
	// Ini Buat Ngatur Kebawahan Navbar Tabs Verry Important
	margin-top: 80px;
	padding: 0px 50px;
	display: flex;
	justify-content: start;
	gap: 20px;
	&.user {
		justify-content: center;
		padding: 0;
		margin-top: 85px;
	}
	a {
		text-decoration: none;
		color: #fff;
	}
	.navbar-tab {
		margin-top: -15px;
		width: 180px;
		height: 65px;
		display: flex;
		padding: 35px 10px 10px 10px;
		justify-content: center;
		align-items: center;
		border-radius: 0 0 20px 20px;
		background: #a8bba3;
		box-shadow: 0 5px 6.4px 0 rgba(0, 0, 0, 0.25);
		list-style-type: none;
		font-size: 1.5rem;
		transition: 0.3s all ease;
		span {
			font-size: 2rem;
			padding-right: 10px;
		}
		&:hover {
			margin-top: -8px;
			background-color: #a8bba3;
		}
		&:active {
			margin-top: 0px;
			box-shadow: none;
		}
	}
}
.form-contents-wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	// Buat Halaman Registration
	&.regis {
		margin-top: 90px;
	}
	.form-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		width: 45%;
		&.regis {
			margin-bottom: 40px;
		}
		.login-header {
			display: flex;
			justify-content: center;
			margin-bottom: 35px;
			&.regis {
				margin-bottom: 20px;
			}
			.logo-form {
				width: 40%;
				height: auto;
				fill: #c1785a;
				&.register {
					width: 30%;
					height: auto;
				}
			}
		}
		.form-title {
			border-radius: 10px;
			width: 100%;
			padding: 6px;
			display: flex;
			align-items: center;
			justify-content: center;
			&.login {
				background: #305669;
			}
			&.register {
				background: #8abeb9;
				h1 {
					font-size: 1.6rem;
				}
			}
			h1 {
				font-family: "homenaje";
				color: #fff;
				text-align: center;
				font-size: 2rem;
				margin: 0;
			}
		}
		.form-main-container {
			margin-top: 15px;
			padding: 25px;
			border-radius: 16px;
			background: #fff;
			.form-label {
				font-family: "homenaje";
				font-size: 1.5rem;
				// Buat Registration
				&.regis {
					font-size: 1.3rem;
					margin-bottom: 2px;
				}
			}
			input {
				font-family: "segoe ui";
				&::placeholder {
					font-family: "segoe ui";
					color: #3056696c;
				}
			}
			.button-container {
				width: 30%;
				gap: 10px;
				a {
					font-family: "segoe ui";
					color: #c1785a;
					text-decoration: none;
				}
				.btn-submit {
					width: 70%;
					font-size: 1.3rem;
					font-family: "homenaje";
				}
			}
			// For Registration
			.name-birth-container {
				width: 100%;
				.full-name-regis {
					width: 60%;
				}
				.birth-datepicker-regis {
					width: 35%;
				}
			}
		}
	}
}

// Buat Map
/* Pastikan map punya tinggi! Kalau 0px gak bakal muncul */
.themap {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
}
.mapboxgl-ctrl-top-right {
	margin: 120px 20px 0px 0px;
	right: 0;
	top: 0;
}
#map {
	width: 100%;
	height: 100vh;
	/* Full screen */
}

/* Style untuk Popup Mapbox */
.mapboxgl-popup-content {
	font-family: "homenaje";
	padding: 0;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
	min-width: 220px;
	max-width: 250px;
}

.mapboxgl-popup-close-button {
	color: white;
	font-size: 24px;
	top: 5px;
	right: 8px;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 2;
}

/* Card Wrapper */
.popup-card {
	display: flex;
	flex-direction: column;
}

/* Gambar Cafe */
.popup-img {
	width: 100%;
	height: 130px; /* WAJIB ADA TINGGI */
	object-fit: cover;
	display: block;
}

/* Info Container */
.popup-info {
	padding: 12px 10px;
	background: #fff;
}

.popup-info h3 {
	margin: 0;
	font-size: 16px;
	font-weight: 700;
	color: #333;
	margin-bottom: 4px;
}

.popup-rating {
	font-size: 13px;
	font-weight: 600;
	color: #f59e0b;
	margin-bottom: 6px;
}

.btn-detail {
	display: inline-block;
	width: 100%;
	margin-top: 10px;
	padding: 6px 0;
	background-color: #6f4e37;
	color: white;
	text-decoration: none;
	text-align: center;
	border-radius: 6px;
	font-size: 12px;
	font-weight: 500;
	transition: background 0.2s;
}

.btn-detail:hover {
	background-color: #5a3e2b;
	color: #fff;
}

// Offcanvas Style Section
.offcanvas-body {
	background-color: #f7f1de;
	.btn {
		color: #fff !important;
	}
	p {
		font-family: "Segoe Ui";
	}
}
#btnFullDetail {
	background-color: #305669;
	&:hover {
		background-color: #485f6b;
	}
}
#btnMaps {
	background-color: #a8bba3;
	border: none;
	&:hover {
		background-color: #869482;
	}
}

.badge.map-cafe-detail {
	padding: 5px 7px !important;
	font-size: 1.2rem !important;
	font-family: $f-hand;
	font-weight: 100 !important;
	color: $c-white !important;
	background-color: #546168;
	.btn-close {
		width: 4px;
		height: auto;
	}

	// Modifier classes
	&.cat-productivity {
		background-color: $c-secondary !important;
	}
	&.cat-social-space {
		background-color: $c-social !important;
	}
	&.cat-roastery {
		background-color: $c-primary !important;
	}
}

// CATALOUGE Section

.title-container {
	margin: 0;
	> h1 {
		font-size: 3.5rem;
		padding: 0 !important;
		margin: 0;
	}
	.divider-soft {
		border: none;
		border-top: 5px dashed rgba($c-primary, 0.4);
		width: 100%;
		height: 0;
	}
}

.main-container {
	.row {
		margin: 0 !important;
	}
}
// Card Utama
.cafe-card {
	background: #fff;
	border-radius: 14px;
	padding: 25px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
	display: flex;
	gap: 25px;
	margin-bottom: 30px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	border: 1px solid rgba($c-primary, 0.1);

	.cafe-desc-container {
		max-height: 170px;
		overflow-y: scroll;
		margin-bottom: 10px;
	}

	// &:hover {
	// 	transform: translateY(-5px);
	// 	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
	// }

	// Carousel (Kiri)
	.carousel {
		width: 350px;
		flex-shrink: 0;
		border-radius: 10px;
		overflow: hidden;
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
		max-height: 300px;
		.carousel-inner {
			height: 100%;
			.carousel-item {
				height: 100%;
			}
		}
		img.cafeCarouselImg {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	// Details (Kanan)
	.card-details {
		flex: 1;
		display: flex;
		flex-direction: column;

		.top-row {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;

			h2 {
				margin: 0;
				font-family: $f-display;
				font-size: 2.4rem;
				color: $c-primary;
				line-height: 1;
			}

			.price-rating-wrapper {
				text-align: right;

				.coffee-rating {
					color: $c-social; // Kuning/Gold
					display: flex;
					justify-content: flex-end;
					margin-bottom: 5px;
					.material-symbols-outlined {
						font-size: 2rem;
					}
				}

				.price-range {
					font-family: $f-hand;
					font-weight: bold;
					font-size: 2rem;
					color: $c-black;
				}
			}
		}

		.cafe-location {
			color: #6c757d;
			font-size: 1.1rem;
			margin-top: 5px;
			i {
				color: $c-primary;
			}
		}

		.cafe-desc {
			margin-top: 15px;
			color: #444;
			font-family: $f-sans;
			padding-right: 5px;
			overflow: hidden;
		}

		// Action Buttons (Delete & Update)
		.action-buttons {
			margin-top: auto;
			display: flex;
			justify-content: flex-end;
			gap: 10px;
			padding-top: 15px;

			.btn {
				padding: 8px 25px;
				border-radius: 8px;
				font-family: $f-display;
				font-size: 1.2rem;
				transition: 0.2s;

				&.delete-btn {
					background-color: $c-danger;
					&:hover {
						background-color: darken($c-danger, 10%);
					}
				}
				&.update-btn {
					background-color: $c-info;
					&:hover {
						background-color: darken($c-info, 10%);
					}
				}
			}
		}
		// BADGE buat Tanda tandanya
		.badge {
			font-family: $f-hand;
			font-weight: normal;
			font-size: 1.2rem !important;
			padding: 6px 10px !important;
			margin: 0px 5px 5px 0px;
			text-transform: capitalize !important;
			&.cat-productivity {
				background-color: $c-secondary !important;
				color: #fff;
			}
			&.cat-social {
				background-color: $c-social !important;
				color: #fff;
			}
			&.cat-roastery {
				background-color: $c-primary !important;
				color: #fff;
			}
			&.red {
				background-color: $c-danger !important;
				color: #fff;
			}
			&.cat-default {
				background-color: $pal-grey-text;
			}
		}
	}
}

// Filter dan Search Bar disini
.filter-container-wrapper {
	height: auto;
	.filter-container {
		position: sticky;
		height: auto;
		//NOTE Top nya aga panjang sesuaikan dengan header di style utama
		top: 150px;
		z-index: 10;
		background-color: $c-white;
		border-radius: 15px;
	}
}

// UPDATE MODAL
#updateCafeModal {
	// Header Modal
	.modal-header {
		background-color: $c-primary;
		color: $c-white;
		border-bottom: none;
		.modal-title {
			font-family: $f-display;
		}
	}
	// Body Modalnya
	.modal-body {
		background-color: $c-bg-card;

		.form-control,
		.form-select {
			border: 1px solid rgba($c-primary, 0.3);
			border-radius: 8px;
			padding: 10px 15px;
			font-family: $f-sans;

			&:focus {
				border-color: $c-primary;
				box-shadow: 0 0 0 4px rgba($c-primary, 0.1);
			}
		}

		label.form-label {
			font-family: $f-display;
			font-size: 1.3rem;
			color: $c-primary;
			margin-bottom: 5px;
		}

		// Panel Kategori (Dropdown)
		#category-panel {
			border: 2px dashed rgba($c-primary, 0.3);
			background: #fff !important;

			// Checkbox
			.cat-check {
				accent-color: $c-primary;
			}
		}

		// Preview Gambar
		.card img {
			border: 2px solid $c-secondary;
		}
	}

	// Footer Modalsnya
	.modal-footer {
		background-color: #fff;
		border-top: 1px dashed $c-primary;
	}
}
