.form-wrapper, .form-container .user-manage-table-wrapper, .main-container {
  display: flex;
  align-items: center;
}

.add-cafe-container .btn.add-cafe:hover {
  box-shadow: 0px 0px 62px 0px rgba(132, 153, 79, 0.93);
  transition: 0.3s all ease;
}

.main-container {
  width: 100%;
  justify-content: center;
}

/* Divider tipis, halus, dan nggak nabrak */
.title-container {
  margin: 10px 0px;
}
.title-container h1 {
  padding: 0px !important;
  margin: 0px;
}
.title-container .divider-soft {
  border: none;
  border-top: 5px dashed rgba(196, 164, 132, 0.4196078431);
  width: 100%;
  height: 0;
  opacity: 1;
}

.dashboard-container {
  width: 100%;
  height: 74%;
  padding: 0px 10px;
  display: flex;
  gap: 25px;
}

.counter-wrapper {
  width: 20%;
  margin-top: 15px;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.counter-wrapper .counter-contents {
  padding: 15px;
  width: 100%;
  background-color: #f7f1de;
  border-radius: 8px;
}
.counter-wrapper .counter-contents h1 {
  text-align: start;
  padding: 0px;
}

.cafe-recent-wrapper {
  width: 75%;
}
.cafe-recent-wrapper h2 {
  text-align: start;
  padding: 0px !important;
  margin: 0px !important;
}
.cafe-recent-wrapper .cafe-table-wrapper {
  overflow-y: scroll;
  height: 350px;
  padding: 5px 15px;
}
.cafe-recent-wrapper .cafe-table-wrapper .card.cafe-recent-card {
  border: none;
  background-color: #f7f1de;
}
.cafe-recent-wrapper .cafe-table-wrapper .card.cafe-recent-card p {
  font-family: "Segoe Ui";
}
.cafe-recent-wrapper .cafe-table-wrapper .card.cafe-recent-card .text-body-secondary {
  font-family: "Segoe Ui";
  font-weight: bold;
  font-style: italic;
}

.form-container {
  margin: 10px 50px 50px;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 5px 18.9px 1px rgba(0, 0, 0, 0.25);
}
.form-container h1 {
  padding: 10px 0;
  font-size: 2.6rem;
  text-align: center;
}
.form-container .main-form-wrapper {
  padding: 0 21px;
  display: flex;
  flex-wrap: wrap;
}
.form-container .main-form-wrapper label {
  font-family: "homenaje", sans-serif;
  font-size: 1.3rem;
  margin: 0;
}
.form-container .left-wrapper,
.form-container .right-wrapper {
  width: 50%;
  padding: 15px;
}
.form-container .price-wrapper {
  display: flex;
  gap: 15px;
}
.form-container .user-manage-table-wrapper {
  flex-direction: column;
  width: 100%;
}

#categoryCafeContainer .btn {
  border-radius: 5px;
  background: #c1785a;
  color: #fff;
  font-family: "homenaje", sans-serif;
  font-size: 1.3rem;
}
#categoryCafeContainer label {
  font-family: "segoe ui";
  font-size: 1rem;
}

#selectedCategoriesDisplay.text-muted {
  display: block;
  width: 80%;
}
#selectedCategoriesDisplay.text-muted .badge {
  padding: 5px 7px;
  font-size: 1.3rem;
  font-family: "Caveat", cursive;
  font-weight: 100;
  color: #fff !important;
}
#selectedCategoriesDisplay.text-muted .badge .btn-close {
  width: 4px;
  height: auto;
}
#selectedCategoriesDisplay.text-muted .badge.cat-productivity {
  background-color: #84994f !important;
}
#selectedCategoriesDisplay.text-muted .badge.cat-social {
  background-color: #fcb53b !important;
}
#selectedCategoriesDisplay.text-muted .badge.cat-roastery {
  background-color: #c1785a !important;
}

.add-cafe-container {
  padding-right: 50px;
  display: flex;
  justify-content: flex-end;
}
.add-cafe-container .btn.add-cafe {
  padding: 10px 20px;
  font-size: 1.3rem;
  color: #fff;
  background-color: #84994f;
}
.form-wrapper {
  width: 90%;
}
.form-wrapper form {
  width: 100%;
}
.form-wrapper label {
  font-family: "homenaje", sans-serif;
  font-size: 1.3rem;
  margin-right: 10px;
}
.form-wrapper input.form-control {
  font-size: 1.2rem;
  flex-grow: 1;
}
.form-wrapper .btn {
  margin-left: 8px;
  border-radius: 5px;
  padding: 12px 15px;
  background-color: #8abeb9;
  color: #fff;
  font-family: "homenaje", sans-serif;
  font-size: 1.3rem;
}

.user-manage-table {
  width: 90%;
}
.user-manage-table table {
  table-layout: fixed;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 100;
}
.user-manage-table.header {
  background-color: #c1785a;
  border-radius: 8px;
  margin-bottom: 5px;
}
.user-manage-table.header th {
  color: #fff;
  font-weight: 100;
  font-size: 1.4rem;
  padding: 10px 0 10px 20px;
}
.user-manage-table.contents {
  overflow-y: auto;
  height: 400px;
}
.user-manage-table.contents table {
  border-collapse: separate;
  border-spacing: 0 5px;
}
.user-manage-table.contents tr td {
  padding: 5px 0 5px 25px;
}
.user-manage-table.contents tr td:first-child {
  border-radius: 8px 0 0 8px;
}
.user-manage-table.contents tr td:last-child {
  border-radius: 0 8px 8px 0;
}/*# sourceMappingURL=styles_admin.css.map */

.page-container {
  margin-top: -70px;
}

.update-btn, .delete-btn{
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  cursor: pointer;
  border-radius: 8px;
  padding: 8px 10px;
  font-family: 'Homenaje', sans-serif;
  font-size: 25px;
  
}

.delete-btn {
  background-color: red;
  color: white;
}

.update-btn{
  background-color: #0b4f6c;
  color: white;
}

.update-btn:hover, .delete-btn:hover {
    opacity: 0.85;
}

.updateCafeModal {
    background: #ffffff;
    border-radius: 14px;
    padding: 25px 35px;
    font-family: 'Homenaje', sans-serif;
}

.updateModal-header {
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 10px;
}

.updateModal-header h1 {
    font-size: 36px;
    color: #333;
}

.closeModalBtn {
    position: absolute;
    right: 5px;
    top: -5px;
    background: none;
    border: none;
    font-size: 30px;
    color: #b6401b;
    cursor: pointer;
}

.updateModal-body {
    display: flex;
    gap: 40px;
    margin-top: 10px;
}

.updateLeft, .updateRight {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.updateInput, .updateTextarea {
    background: #ffeee0;
    border: none;
    padding: 10px 12px;
    border-radius: 6px;
    font-size: 16px;
}

.updateTextarea {
    height: 160px;
    resize: none;
}

.previewImg {
    width: 100%;
    height: 180px;
    background: #ffeede;
    object-fit: cover;
    border-radius: 6px;
}

.priceRow {
    display: flex;
    gap: 20px;
}

.categoryBtn {
    width: 120px;
    background: #c97847;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.updateModal-footer {
    text-align: right;
    margin-top: 20px;
}

.updateBtnFinal {
    padding: 6px 26px;
    background: #284c63;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 17px;
}

.category-group {
    position: relative;
}

.category-dropdown-btn {
    background: #c97847;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 40px;
}

.category-dropdown {
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    width: 230px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    z-index: 50;
}

.category-dropdown label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
    font-size: 15px;
}

.category-dropdown input[type="checkbox"] {
    width: 17px;
    height: 17px;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    gap: 10px 20px; 
    margin-top: 10px;
}
.category-grid label {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 15px;
}

.cafeCarouselImg {
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}
.carousel {
    border-radius: 10px;
    overflow: hidden;
}

.modal-carousel-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}

.coffee-rating {
    display: flex;
    gap: 3px;
}

.coffee-active {
    color: #c68b4b;   
    font-size: 24px;
}

.coffee-inactive {
    color: #e3e3e3;   
    font-size: 24px;
}

.price {
    font-size: 18px;
    font-weight: 600;
    color: #c97847;
}

cafe-categories {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.cat-badge {
    background-color: #c97847;
    color: white;
    padding: 6px 14px;
    font-size: 15px;
    border-radius: 25px;
    font-weight: 600;
    display: inline-block;
    letter-spacing: 2px;
}